@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Fredoka', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* This ensures the app takes full height without scrolling issues */
.App {
  text-align: center;
  overflow: hidden; 
}